@model List<User>
@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="container">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-4"><input type="hidden" id="singleUserId" name="singleUserId" value="" /></div>
                </div>
                <div class="row">
                    <div class="col-2">Message</div>
                    <div class="col-4"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-6">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <ul class="list-group">
                @foreach (var user in Model)
                {
                    <li class="list-group-item user-item"><span id="@user.Id" class=@(user.ConnectionId==null?
                          "bg-offline":"bg-online") style="width:15px;height:15px; border-radius:50%; display:inline-block; "></span>@user.Username
                    </li>
                }

            </ul>
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>
